
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: rgb(255, 103, 103);
    width: 200px;
    height: 200px;
    border-radius: 1em;
    position: absolute;
    left: 10%;
    top: 10%;
    transition: 1s;
}

.box:hover {
    transform: scale(1.2);
    transform: rotate(90deg);
    transform-origin: bottom left;


}